body {
    margin: 0 25px;
    background-color: rgba(202, 202, 202, 0.419);
    cursor: default;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
div {
    color: rgb(94, 94, 94);
}

h1 {
    color: rgb(126, 126, 126);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
#landing {
    position: relative;
}
#landing > p {
    color: rgba(245, 245, 220, 0.777);
    position: absolute;
    bottom: 200px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgba(139, 24, 24, 0.581);
    padding: 5px 10px;
}
#landing > button, #landing div, #signup > button {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(94, 94, 94);
}
#landing > button, #signup > button {
    background-color: rgba(245, 245, 220, 0.777);
    padding: 5px 0px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    font-size: 1rem;
    width: 80px;
    text-align: center;
    cursor: pointer
}

#signup div {
    font-size: 2rem;
}

#signuplink, #signuplink a{
    font-size: 15px !important;
    text-decoration: none;
    margin: 10px;
}

a {
    color: rgba(245, 245, 220, 0.777)
}
input{
    padding: 0 10px;
    margin: 10px;
    height: 30px;
    width: 200px;
    background-color: rgba(245, 245, 220, 0.777);
    border: none;
    border-radius: 5px;
}

input:focus, textarea {
    outline: none !important;
}

nav a {
    text-decoration: none;
    color: rgb(126, 126, 126);
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1rem;
}

#app {
    background-color: #0369777e;
    /* background-color: rgba(255, 0, 0, 0.283); */
    /* border: 1px solid white; */
    margin: 0 auto;
    max-width: 650px;
    min-height: 700px;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
}

#landing, #login, #signup {
    background-color: #0369777e;
    /* background-color: rgba(255, 0, 0, 0.283); */
    /* border: 1px solid white; */
    margin: 0 auto;
    max-width: 650px;
    min-height: 700px;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


#timer {
    /* border: 1px solid white; */
    padding: 10px 20px;
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
    height: 60px;

}

#breathCounter {
    /* border: 1px solid white; */
    padding: 10px 20px;
    /* width: 70%; */
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    gap: 20px;
}

#breathingState{
    /* border: 1px solid white; */
    padding: 10px 20px;
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
    height: 60px;
    margin-top: 30px;
}
#circleContainer {
    /* border: 1px solid white; */
    
}

#circle {
    margin: 30px;
    padding: 20px;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    /* box-shadow: 1px 5px 0px rgba(0, 128, 0, 0.269); */
}

#finalHold{
    /* border: 1px solid white; */
    padding: 10px 20px;
    /* width: 70%; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    height: 60px;
}

#startButton {
    /* border: 1px solid white; */
    padding: 10px 20px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    /* margin-top: 395px; */
    height: 60px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#description {
    /* border: 1px solid white; */
    padding: 10px 20px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    height: 60px;
    text-align: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#previousTimes {
    /* border: 1px solid white; */
    padding: 10px 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    /* height: 60px;
    overflow: auto; */
}

#lastInstructions p {
    display: flex;
    justify-content: center;
    
}

#records {
    /* border: 1px solid white;
    border-radius: 15px; */
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* position: absolute; */
    /* top: 550px; */
    /* background-color: #0371bf; */

}

.seshDiv {
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 220, 0.777);
    /* position: absolute; */
}

.dateDiv {
    padding: 10px;
}

.roundDiv {
    padding: 2px;
}





